@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Open+Sans:wght@300;400;700;800&family=Sacramento&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open sans", sans-serif;
}

body {
  background-color: #1b1c1d;
}
/* First section */

#title {
  color: #ffffff;
  padding: 3% 12%;
}

.top-section {
  text-align: center;
  padding: 10% 0%;
}

.main-title {
  font-size: 4rem;
  padding: 2% 0%;
}
.sub-text {
  font-size: 1.25rem;
}

.nav-item {
  margin-right: 3%;
}

/* second section */

#mid-section {
  background-color: #ffffff;
  padding: 7% 12%;
}

.content-text {
  font-size: 1.5rem;
  padding-top: 2%;
}

.content2 {
  padding-top: 10%;
}

.img-fluid {
  height: auto;
  padding: 20% 0% 0% 40%;
}

.small-image {
  display: none;
}

/* buttons */
.three-buttons {
  text-align: center;
  padding-top: 6%;
}

.my-buttons {
  margin: 0% 1% 0% 0%;
  padding: 1% 3%;
}

.logo {
  margin-right: 10px;
}

.b1 {
  background-color: #dfe0e1;
  color: #656666;
}

.b3 {
  background-color: #f06f2f;
  color: white;
}

/* third section */

#third-section {
  text-align: center;
  padding: 3% 12%;
  color: #ffffff;
}

/* fourth section */

#fourth-section {
  background-color: #ffffff;
  padding: 4% 0%;
}

.awards {
  width: 100%;
  text-align: center;
  border-bottom: 2px inset rgb(212, 212, 212);
  height: 1.5em;
  /* margin: 10px 0 20px; */
}
.awards span {
  background-color: #ffffff;
  padding: 0 10px;
  font-size: 2rem;
}

.cards {
  padding: 5% 12% 0% 12%;
}

/* fifth section */

#fifth-section {
  padding: 3% 12%;
  background-color: #ffffff;
}

.creations .awards {
  width: 100%;
  text-align: center;
  border-bottom: 2px inset rgb(212, 212, 212);
  height: 1.25em;
  /* margin: 10px 0 20px; */
}

.creations .awards span {
  background-color: #ffffff;
  padding: 0 10px;
  font-size: 1.5rem;
}

.creations ul {
  font-size: 1rem;
  padding-top: 15%;
}
@media (max-width: 1024px) {
  .main-title {
    font-size: 2rem;
  }
  .sub-text {
    font-size: 0.75rem;
  }
  .small-image {
    display: block;
  }
  .large-image {
    display: none;
  }
  .img-fluid {
    height: auto;
    padding: 10% 0% 10% 10%;
  }
  .content-text {
    font-size: 1rem;
  }

  .third-text {
    font-size: 1rem;
    padding-top: 0.75rem;
  }
  .cards {
    margin: 10px;
  }
  .my-cards {
    margin: 5% 0%;
    /* margin-bottom: 10%; */
  }

  .awards {
    width: 100%;
    text-align: center;
    border-bottom: 2px inset rgb(212, 212, 212);
    height: 0.75em;
    /* margin: 10px 0 20px; */
  }
  .awards span {
    background-color: #ffffff;
    padding: 0 10px;
    font-size: 1rem;
  }
  #fourth-section {
    padding: 10% 0%;
  }
}

@media (max-width: 480px) {
  .b3 {
    margin-top: 5%;
    margin-right: 5%;
  }
  .b2 {
    margin-top: 5%;
    margin-right: 10%;
  }
  .b1 {
    margin-right: 10%;
    margin-left: 0%;
  }
}
